<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfc.patxangueitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tfc.patxangueitor.signin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tfc.patxangueitor.signup"
            android:label="Crear nou usuari" />
        <activity
            android:name="com.tfc.patxangueitor.mainscreen"
            android:label="@string/title_activity_mainscreen" >
        </activity>
        <activity
            android:name="com.tfc.patxangueitor.adminlistview"
            android:label="Gestió Llista" >
        </activity>
        <activity
            android:name="com.tfc.patxangueitor.testscreen"
            android:label="Prova expandable" >
        </activity>
        <activity
                android:name="com.tfc.patxangueitor.subslistuser"
                android:label="Subscripcions de llistes" >
        </activity>
        <activity
            android:name="com.tfc.patxangueitor.eventlist"
            android:label="Event Usuari" >
    </activity>
        <activity
                android:name="com.tfc.patxangueitor.adminlistuser"
                android:label="Admin. Llistes usuaris" >
        </activity>
        <activity
                android:name="com.tfc.patxangueitor.adminlistevent"
                android:label="Admin. Gestio Events" >
        </activity>

    </application>

</manifest>
